.DriversList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Creates 2 columns when width allows, and makes the items responsive */
  gap: 40px; /* This adds space between the grid items */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.no-drivers-message {
  padding-top: 100px;
  text-align: center;
}

.Driver {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: row; /* Stack the child elements vertically */
  align-items: center; /* Align items to the start of the flex container */
  justify-content: space-between;
  background: #f5f5f5;
  border-radius: 8px;
  transition: transform 0.5s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Keeps everything contained within the border-radius */
}

.Driver h1 {
  font-size: 1.5em;
  color: #333;
  margin: 0 0 10px 0;
}

.Driver h3 {
  font-size: 0.9em;
  color: #666;
  margin: 5px;
}

.driver-image {
  max-width: 100%; /* Allows image to be responsive within its flex item container */
  flex-basis: 50%; /* Starts off taking half the space */
  object-fit: cover; /* Adjust as needed to maintain aspect ratio */
}

/* Styling for the details section */
.driver-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Responsive adjustments */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .Driver {
    flex-basis: calc(50% - 20px);/* Stack image and details on smaller screens */
  }
}
@media (max-width: 480px) {
  .Driver {
    flex-basis: 100%; /* Each vehicle takes full width on very small screens */
  }
}

.driver-image {
  width: 100%; /* Full width of the container */
  object-fit: cover;
  height: auto; /* Maintain aspect ratio */
  max-height: 200px; /* Adjust maximum height as needed */
  border-radius: 8px; /* Rounded corners for the images */
  margin-bottom: 15px; /* Space between the image and the text below */
  flex-basis: 50%; /* Starts off taking half the space */
}

.Driver:hover {
  transform: scale(1.1); /* Adjust the scale factor to your preference */
}

.driver-actions button:hover {
  font-size: 1.1em; /* Increase font size */
  font-weight: bold; /* Make font bold */
  transform: scale(1.1); /* Adjust the scale factor to your preference */
  background-color: #000000; /* Slightly lighter background on hover */
  color: white; /* Text color */
}

.driver-actions .edit-btn {
  background-color: #1445cc; /* Green background for Vehicles button */
}
.driver-actions .remove-btn {
  background-color: #d47114; /* Blue background for Drivers button */
}

.driver-details .dates {
  display: inline-block;
  margin-left: 5px;
  color: rgb(0, 0, 0);
}

.driver-details .dates {
  display: inline-block;
  margin-left: 5px;
}

.driver-details .dates.red {
  color: white;
  font-size: 1.1em;
  background-color: #FF0000;
  border-radius: 5px;
  padding: 2px;
}

.driver-details .dates.orange {
  color: white;
  font-size: 0.9em;
  background-color: #FFA500;
  border-radius: 5px;
  padding: 2px;
}

.driver-details .dates.green {
  color: white;
  font-size: 0.9em;
  background-color: #4CAF50;
  border-radius: 5px;
  padding: 2px;
}

.dark-mode .no-drivers-message {
  padding-top: 100px;
  text-align: center;
  color: #ecf0f1;
}

.dark-mode .DriversList{
  background-color: #0c1033; /* Dark background for dark mode */
  color: #ecf0f1; /* Light text color for dark mode */
}

.dark-mode .Driver {
  background-color: #2c2c2c; /* Darker background for each vehicle */
  color: #ecf0f1; /* Light text color for each vehicle */
}

.dark-mode .Driver h1 {
  font-size: 1.5em;
  color: #616161;
  margin: 0 0 10px 0;
}


.dark-mode .Driver h3 {
  font-size: 0.9em;
  color: #8d8d8d;
  margin: 5px 0;
}